<div class="component-container">
  <main>
    <div class="contact">
      <div class="contact-left">
        <h6 class="header-small">CONTACT INFO</h6>
        <h1 class="header-big">Get in touch</h1>
        <ul>
          <li>
            <div class="contact-list-left">
              <img src="assets/message.svg" alt="Message icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Talk to us:</p>
              <a class="contact-list-value" [href]="'mailto:' + email">{{
                email
              }}</a>
            </div>
          </li>
          <li>
            <div class="contact-list-left">
              <img src="assets/phone.svg" alt="Phone icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Call us:</p>
              <a class="contact-list-value" [href]="telephoneLink">{{
                telephoneNumber
              }}</a>
            </div>
          </li>
          <li>
            <div class="contact-list-left">
              <img src="assets/pin.svg" alt="Pin icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Adress:</p>
              <p class="contact-list-value">
                2464 Royal Ln. Mesa, New Jersey 45463, USA
              </p>
            </div>
          </li>
        </ul>
        <div class="contact-footer">
          <p>FOLLOW US:</p>
          <app-icon-list [iconList]="iconList" color="gray"></app-icon-list>
        </div>
      </div>
      <div id="map">
        <ya-map
          [center]="[40.222196, -74.764481]"
          [zoom]="14"
          [state]="mapState">
          <ya-placemark [geometry]="[40.222196, -74.764481]"></ya-placemark>
        </ya-map>
      </div>
    </div>
    <div class="question">
      <div class="question-left">
        <img src="assets/lady.svg" alt="Lady image" />
      </div>
      <div class="question-right">
        <h6 class="header-small">ANY QUESTIONS?</h6>
        <h1 class="header-big">Drop us a line</h1>
        <form class="form">
          <div class="input">
            <label for="first-name">First Name*</label>
            <input
              type="text"
              id="first-name"
              placeholder="Your first name"
              required />
          </div>
          <div class="input">
            <label for="last-name">Last Name*</label>
            <input
              type="text"
              id="last-name"
              placeholder="Your last name"
              required />
          </div>
          <div class="input">
            <label for="email">Email*</label>
            <input
              type="email"
              id="email"
              placeholder="Your working email"
              required />
          </div>
          <div class="input">
            <label for="phone">Phone</label>
            <input
              type="tel"
              name="Phone number"
              id="phone"
              placeholder="Your phone number" />
          </div>
          <div class="input message">
            <label for="message">Message*</label>
            <textarea
              name="Message"
              id="message"
              rows="5"
              placeholder="Your message"
              required></textarea>
          </div>
          <div class="form-checkbox-container">
            <label class="custom-checkbox-container" for="agree"
              >I agree to receive communications from Createx Online School
              <input type="checkbox" name="Agree" id="agree" checked />
              <span class="form-custom-checkmark"></span
            ></label>
          </div>
          <button class="orange-button" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </main>
</div>
