<div class="component-container">
  <header>
    <div>
      <img src="assets/create.svg" alt="Create logo" />
      <img src="assets/x.svg" alt="X logo" />
    </div>
    <nav>
      <a href="">About Us</a>
      <a href="">Courses</a>
      <a href="">Events</a>
      <a href="">Blog</a>
      <a href="" class="contacts-link">Contacts</a>
    </nav>
    <button class="orange-button">Get consultation</button>
    <div class="profile">
      <img src="assets/profile.svg" alt="Profile icon" />
      <span><a href="">Log in</a> / <a href="">Register</a></span>
    </div>
  </header>
  <main>
    <div class="contact">
      <div class="contact-left">
        <h6 class="header-small">CONTACT INFO</h6>
        <h1 class="header-big">Get in touch</h1>
        <ul>
          <li>
            <div class="contact-list-left">
              <img src="assets/message.svg" alt="Message icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Talk to us:</p>
              <p class="contact-list-value">hello@createx.com</p>
            </div>
          </li>
          <li>
            <div class="contact-list-left">
              <img src="assets/phone.svg" alt="Phone icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Call us:</p>
              <a class="contact-list-value" [href]="telephoneLink">{{
                telephoneNumber
              }}</a>
            </div>
          </li>
          <li>
            <div class="contact-list-left">
              <img src="assets/pin.svg" alt="Pin icon" />
            </div>
            <div class="contact-list-right">
              <p class="contact-list-name">Adress:</p>
              <p class="contact-list-value">
                2464 Royal Ln. Mesa, New Jersey 45463, USA
              </p>
            </div>
          </li>
        </ul>
        <div class="contact-footer">
          <p>FOLLOW US:</p>
          <div class="icon-row">
            <img
              *ngFor="let icon of iconList"
              [src]="icon.src"
              [alt]="icon.alt"
            />
          </div>
        </div>
      </div>
      <div id="map">
        <ya-map
          [center]="[40.222196, -74.764481]"
          [zoom]="14"
          [state]="mapState"
        >
          <ya-placemark [geometry]="[40.222196, -74.764481]"></ya-placemark>
        </ya-map>
      </div>
    </div>
    <div class="question">
      <div class="question-left">
        <img src="assets/lady.svg" alt="Lady image" />
      </div>
      <div class="question-right">
        <h6 class="header-small">ANY QUESTIONS?</h6>
        <h1 class="header-big">Drop us a line</h1>
        <form class="form">
          <div class="input">
            <label for="first-name">First Name*</label>
            <input
              type="text"
              id="first-name"
              placeholder="Your first name"
              required
            />
          </div>
          <div class="input">
            <label for="last-name">Last Name*</label>
            <input
              type="text"
              id="last-name"
              placeholder="Your last name"
              required
            />
          </div>
          <div class="input">
            <label for="email">Email*</label>
            <input
              type="email"
              id="email"
              placeholder="Your working email"
              required
            />
          </div>
          <div class="input">
            <label for="phone">Phone</label>
            <input
              type="tel"
              name="Phone number"
              id="phone"
              placeholder="Your phone number"
            />
          </div>
          <div class="input message">
            <label for="message">Message*</label>
            <textarea
              name="Message"
              id="message"
              rows="5"
              placeholder="Your message"
              required
            ></textarea>
          </div>
          <div class="form-checkbox-container">
            <label class="custom-checkbox-container" for="agree"
              >I agree to receive communications from Createx Online School
              <input type="checkbox" name="Agree" id="agree" checked />
              <span class="form-custom-checkmark"></span
            ></label>
          </div>
          <button class="orange-button" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-top">
      <div>
        <div>
          <img src="assets/create-light.svg" alt="Create logo" />
          <img src="assets/x.svg" alt="X logo" />
        </div>
        <p class="about">
          Createx Online School is a leader in online studying. We have lots
          of courses and programs from the main market experts. We provide
          relevant approaches to online learning, internships and employment
          in the largest companies in the country.
        </p>
        <div class="icon-row">
          <img
            *ngFor="let icon of iconList.slice(0, 10)"
            [src]="icon.src"
            [alt]="icon.alt"
          />
        </div>
      </div>
      <div>
        <h6>SITE MAP</h6>
        <nav>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Courses</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h6>COURSES</h6>
        <nav>
          <ul>
            <li><a href="">Marketing</a></li>
            <li><a href="">Management</a></li>
            <li><a href="">HR & Recruting</a></li>
            <li><a href="">Design</a></li>
            <li><a href="">Development</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h6>CONTACT US</h6>
        <ul>
          <li>
            <img src="assets/phone-light.svg" alt="Phone icon" />
            <a [href]="telephoneLink">{{ telephoneNumber }}</a>
          </li>
          <li>
            <img src="assets/mail.svg" alt="Mail icon" />
            <span>hello@createx.com</span>
          </li>
        </ul>
      </div>
      <div class="subscribe-container">
        <h6>SIGN UP TO OUR NEWSLETTER</h6>
        <form>
          <input
            type="email"
            name="E-mail"
            id="email-send"
            placeholder="Email adress"
            required
          />
          <button type="submit" class="button-send-email">
            <img src="assets/right-arrow.svg" alt="Right arrow icon" />
          </button>
        </form>
        <p class="email-info">
          *Subscribe to our newsletter to receive communications and early
          updates from Createx SEO Agency.
        </p>
      </div>
    </div>
    <div class="footer-bot">
      <div>
        <p>© All rights reserved. Made with</p>
        <img src="assets/heart.svg" alt="Heart icon" />
        <p>by Createx Studio</p>
      </div>
      <button type="button">GO TO TOP</button>
    </div>
  </footer>
</div>
