main {
  padding: 0 calc(calc(100vw - 1230px) / 2);
}

.contact {
  margin: 128px 0;
  display: flex;
  gap: 3rem;
  justify-content: space-between;

  p {
    margin: 0;
  }

  ul {
    padding: 0;
    margin-top: 40px;
  }

  li {
    list-style: none;
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
  }
}

.header-small {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.header-big {
  font-size: 46px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 32px;
}

.contact-list-left {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-list-name {
  font-weight: 700;
  font-size: 14px;
  color: #787a80;
}

.contact-list-value {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: inherit;
}

.contact-footer {
  margin-top: 48px;

  p {
    margin-bottom: 24px;
  }
}

#map {
  width: 705px;
  height: 412px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.form {
  display: grid;
  margin: 0;
  gap: 25px;
  grid-template: 86px 86px 1fr 52px / 1fr 1fr;

  .input {
    display: flex;
    flex-direction: column;
  }

  .message {
    grid-column: span 2;
  }

  .form-checkbox-container {
    width: 90%;
  }
}
