<div class="banner">
  <img src="assets/subscribe.svg" alt="Image of a man and a bookshelf" />
  <div class="content">
    <h1>Want to get the best articles weekly? Subscribe to our newsletter!</h1>
    <form>
      <div class="subscribe">
        <mat-form-field class="email" appearance="outline">
          <mat-label>Your working email</mat-label>
          <input type="email" matInput />
        </mat-form-field>
        <button type="button" mat-flat-button color="accent">Subscribe</button>
      </div>
      <mat-checkbox color="accent"
        >I agree to receive communications from Createx Online
        School</mat-checkbox
      >
    </form>
  </div>
</div>
