.grid {
  margin-top: 60px;
  margin-bottom: 80px;
  display: grid;
  gap: 80px 40px;
  grid-template: 507px / repeat(12, 1fr);
  grid-auto-flow: row;

  &__card {
    grid-column: span 4;
  }
}

.span-big {
  grid-column-start: span 7;
}

.span-small {
  grid-column-start: span 5;
}
