<mat-card class="mat-elevation-z0">
  <div class="type-badge">
    <mat-icon color="primary">{{ cardData.typeIcon }}</mat-icon>
    <span>{{ cardData.typeName }}</span>
  </div>
  <img
    colorful
    mat-card-xl-image
    [src]="cardData.imageSrc"
    [alt]="cardData.imageAlt" />

  <div class="info">
    <span class="category">{{ cardData.category }}</span>
    <span>|</span>
    <div class="date">
      <mat-icon color="primary">calendar_today</mat-icon>
      <span>{{ cardData.date }}</span>
    </div>
    <span *ngIf="cardData.time">|</span>
    <div *ngIf="cardData.time" class="time">
      <mat-icon color="primary">schedule</mat-icon>
      <span>{{ cardData.time }}</span>
    </div>
  </div>
  <mat-card-title>{{ cardData.title }}</mat-card-title>
  <mat-card-content>
    <p>
      {{ cardData.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      {{ cardData.actionName }}
      <mat-icon color="accent">arrow_right_alt</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
