<section>
  <header>
    <h2>OUR BLOG</h2>
    <h1>Createx School Journal</h1>
  </header>
  <main>
    <app-blog-nav></app-blog-nav>
    <app-blog-grid></app-blog-grid>
    <ul class="pagination">
      <li><a class="is-active" href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li>
        <a href=""> <mat-icon color="primary">arrow_forward</mat-icon> </a>
      </li>
    </ul>
  </main>
  <footer>
    <app-subscribe-banner></app-subscribe-banner>
  </footer>
</section>
