<section>
  <div class="container">
    <header>
      <h3>OUR BLOG</h3>
      <div>
        <h1>You may also like</h1>
        <mat-icon class="rotated">arrow_right_alt</mat-icon>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
    </header>
    <main>
      <div *ngFor="let card of cardsData">
        <app-blog-card [cardData]="card"> </app-blog-card>
      </div>
    </main>
    <footer>
      <h2>Do you want more articles, podcasts and videos?</h2>
      <button type="button" mat-flat-button color="accent">Go to blog</button>
    </footer>
  </div>
</section>
